body {
  background-color: #eff3f6;
  margin: 0;
}

// TODO: continue css rename

.u-box {
  min-height: 20px;
  border-radius: 12px;
  background-color: #fff;
  margin-bottom: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 4%) 0px 1px 3px, rgb(0 0 0 / 10%) 0px 2px 15px;

  &__title {
    font-size: 16px;
    line-height: 24px;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
  }

  &__item {
    display: flex;
    padding: 16px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;

    &:hover {
      background-color: #cccccc33;
    }

    &:last-child {
      border: none;
    }

  }
}


// 两列布局
.u-cols-2 {
  display: flex;

  &__left {
    width: 600px;
  }

  &__right {
    width: 300px;
    padding-left: 16px;
  }
}
